@import '../../styles/_variables';

header {
  position: absolute;
  background: none;
  padding: 40px 0 0 0;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  @extend %NL-fade;
  @include breakpoint($tablet) {
    padding: 20px 0;
    text-align: unset;
    position: fixed;
    background: linear-gradient(rgba(17,17,17,0.65), rgba(17,17,17,0));
  }
  &.menu-up {
    transform: translateY(-100%);
    @extend %NL-fade;
  }
  .inner-menu {
    .Logo {
      svg {
        height: 24px;
        fill: $NL-white;
        cursor: pointer;
        @extend %NL-fade;
        @include breakpoint($tablet) {
          height: 28px;
        }
        &:hover {
          fill: $NL-red;
          @extend %NL-fade;
        }
      }
    }
    ul {
      list-style: none;
      float: right;
      position: relative;
      top: 5px;
      display: none;
      @include breakpoint($tablet) {
        display: block;
      }
      li {
        display: inline;
        margin-left: 42px;
        h6 {
          color: $NL-white;
          display: inline;
          @extend %NL-fade;
          cursor: pointer;
          &:hover {
            color: $NL-red;
            @extend %NL-fade;
          }
        }
      }
    }
  }
}