@import '../../styles/_variables';

svg.ScrollMouse {
  position: absolute;
  left: 50%;
  bottom: 40px;
  height: 41px;
  animation: NL-Float-Up .5s ease 3.4s,f .5s ease 3.4s;
  animation-fill-mode: both;
  display: none;
  @include breakpoint($mobile) {
    display: block;
  }
  path {
    fill: transparent;
    stroke: #f0f0f0;
  }
  circle {
    fill: $NL-light;
    animation: NL-Scrolling ease-in-out 1.9s infinite;
  }
}