@import '../../styles/_variables';

span.Button {
  cursor: pointer;
  &:hover {
    .Button-Line {
      width: 42px;
      @extend %NL-fade;
    }
  }
  .Button-Line {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 12px;
    width: 32px;
    height: 2px;
    @extend %NL-fade;
  }
}