@import '../../global/_variables';

#shaderParent {
  canvas {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    transition:
      height 0.15s ease-out 0.15s,
      width 0.15s ease-out 0.15s,
      left 0.15s ease-in 0.15s,
      top 0.15s ease-in 0.15s
    ;
    @include breakpoint($tablet) {
      transition:
        height 0.15s ease-out 0.15s,
        width 0.15s ease-out 0.15s,
        left 0.15s ease-in 0.15s,
        top 0.15s ease-in 0.15s,
        clip-path 0.15s ease-in
      ;
    }
    left: 50%;
    height: 100% !important;
    width: 100% !important;
    clip-path: polygon(
      0% 0%,      /* 1 */
      0% 100%,    /* 2 */
      12.8% 100%,   /* 3 */
      12.8% 12.8%,    /* 4 */
      87.2% 12.8%,    /* 5 */
      87.2% 12.8%,    /* 6 */
      87.2% 12.8%,    /* 7 */
      87.2% 87.2%,    /* 8 */
      87.2% 87.2%,    /* 9 */
      87.2% 12.8%,    /* 10 */
      12.8% 12.8%,    /* 11 */
      12.8% 87.2%,    /* 12 */
      12.8% 87.2%,    /* 13 */
      12.8% 100%,   /* 14 */
      100% 100%,  /* 15 */
      100% 0%     /* 16 */
    );
    &.no-clip {
      top: 37%;
      left: 50%;
      z-index: 1;
      width: 220px !important;
      height: 220px !important;
      @include breakpoint($mobile) {
        top: 34%;
        left: 50%;
        width: 280px !important;
        height: 280px !important;
      }
      @include breakpoint($tablet) {
        top: 50%;
        left: calc(48% - 180px);
        transition:
          height 0.15s ease-in,
          width 0.15s ease-in,
          left 0.15s ease-in,
          top 0.15s ease-in,
          clip-path 0.2s ease-out 0.4s
        ;
      }
      @include breakpoint($desktop) {
        width: 380px !important;
        height: 380px !important;
        left: calc(48% - 250px);
      }
      transition:
        height 0.15s ease-in,
        width 0.15s ease-in,
        left 0.15s ease-in,
        top 0.15s ease-in
      ;
      clip-path: polygon(
        0% 0%,      /* 1 */
        0% 100%,    /* 2 */
        12.8% 100%,   /* 3 */
        12.8% 12.8%,    /* 4 */
        70% 12.8%,    /* 5 */
        70% 30%,    /* 6 */
        87.2% 30%,    /* 7 */
        87.2% 87.2%,    /* 8 */
        70% 87.2%,    /* 9 */
        70% 30%,    /* 10 */
        30% 30%,    /* 11 */
        30% 87.2%,    /* 12 */
        12.8% 87.2%,    /* 13 */
        12.8% 100%,   /* 14 */
        100% 100%,  /* 15 */
        100% 0%     /* 16 */
      );
    }
  }
}