@import '../../styles/_variables';

#shaderParent {
  canvas {
    height: 100%;
    width: 100%;
    clip-path: polygon(
      0% 0%,      /* 1 */
      0% 100%,    /* 2 */
      12.8% 100%,   /* 3 */
      12.8% 12.8%,    /* 4 */
      70% 12.8%,    /* 5 */
      70% 30%,    /* 6 */
      87.2% 30%,    /* 7 */
      87.2% 87.2%,    /* 8 */
      70% 87.2%,    /* 9 */
      70% 30%,    /* 10 */
      30% 30%,    /* 11 */
      30% 87.2%,    /* 12 */
      12.8% 87.2%,    /* 13 */
      12.8% 100%,   /* 14 */
      100% 100%,  /* 15 */
      100% 0%     /* 16 */
    );
  }
}