@import '../../styles/_variables';

.Footer {
  padding: 80px 0 0;
  background-color: $NL-red;
  h2 {
    color: $NL-white;
    text-align: center;
    margin-bottom: 12px;
  }
  h3 {
    color: $NL-white;
    text-align: center;
    margin-bottom: 22px;
    a {
      color: $NL-white;
      @extend %NL-fade;
      &:hover {
        color: $NL-footer-hv;
        @extend %NL-fade;
      }
    }
  }
  .social-media {
    margin: 50px 0;
    text-align: center;
    @include breakpoint($tablet) {
      margin: 60px 0;
    }
    a {
      font-size: 22px;
      margin: 0 10px;
      color: $NL-footer;
      cursor: pointer;
      @extend %NL-fade;
      &:hover {
        color: $NL-footer-hv;
        @extend %NL-fade;
      }
      @include breakpoint($tablet) {
        font-size: 24px;
        margin: 0 16px;
      }
    }
  }
  .mini-footer {
    border-top: 1px solid $NL-footer;
    padding: 30px 0;
    p {
      color: $NL-footer;
      a {
        color: $NL-footer;
        @extend %NL-fade;
        &:hover {
          background-color: $NL-blue;
          color: $NL-white;
          @extend %NL-fade;
        }
      }
    }
  }
}