@import '../../styles/_variables';

.Companies {
  margin: 0 14px;
  @include breakpoint($tablet) {
    margin: 0 80px 20px;
  }
  div {
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
    @include breakpoint($tablet) {
      width: 33.333%;
    }
    img {
      width: 124px;
      @include breakpoint($tablet) {
        width: 160px;
      }
    }
  }
}