@import '../../styles/_variables';

.Intro-Block {
  .Name-Surname {
    transition: all .3s;
    color: $NL-white;
    opacity: 1;
    margin: 0;
    span {
      margin-right: 1px;
      opacity: 0;
      animation-name: NL-Blink;
      animation-fill-mode: both;
      animation-duration: .3s;
      animation-timing-function: ease;
      @for $i from 0 to 12 {
        &:nth-child(#{$i + 1}) {
          animation-delay: #{($i/10) + 0.3}s;
        }
      }
    }
  }
  h3, h4 {
    transition: all .3s;
    opacity: 0;
    color: $NL-white;
    animation: NL-Float-Up .2s ease;
    animation-fill-mode: both;
  }
  h3 {
    animation-delay: 1.15s;
    margin-bottom: 14px;
    @include breakpoint($mobile) {
      margin-bottom: 36px;
    }
  }
  h4 {
    animation-delay: 1.3s;
    &.last {
      animation-delay: 1.45s;
    }
  }
}
