@import "./_variables";
@import "./working";
@import "./working.[pid]";
@import "./writing";
@import "./writing.[pid]";
@import "./listening";
@import "./reading";

@font-face {
	font-family: "Garamond_400";
	src: url("/fonts/Garamond_400.ttf") format("truetype-variations");
}
@font-face {
	font-family: "Garamond_400_I";
	src: url("/fonts/Garamond_400_I.ttf") format("truetype-variations");
}
@font-face {
	font-family: "Garamond_600";
	src: url("/fonts/Garamond_600.ttf") format("truetype-variations");
}
@font-face {
	font-family: "Garamond_600_I";
	src: url("/fonts/Garamond_600_I.ttf") format("truetype-variations");
}
@font-face {
	font-family: "Garamond_700";
	src: url("/fonts/Garamond_700.ttf") format("truetype-variations");
}
@font-face {
	font-family: "Garamond_700_I";
	src: url("/fonts/Garamond_700_I.ttf") format("truetype-variations");
}

@font-face {
	font-family: "Brandon_200";
	src: url("/fonts/Brandon_200.otf");
}
@font-face {
	font-family: "Brandon_200_I";
	src: url("/fonts/Brandon_200_I.otf");
}
@font-face {
	font-family: "Brandon_300";
	src: url("/fonts/Brandon_300.otf");
}
@font-face {
	font-family: "Brandon_300_I";
	src: url("/fonts/Brandon_300_I.otf");
}
@font-face {
	font-family: "Brandon_400";
	src: url("/fonts/Brandon_400.otf");
}
@font-face {
	font-family: "Brandon_400_I";
	src: url("/fonts/Brandon_400_I.otf");
}
@font-face {
	font-family: "Brandon_600";
	src: url("/fonts/Brandon_600.otf");
}
@font-face {
	font-family: "Brandon_600_I";
	src: url("/fonts/Brandon_600_I.otf");
}
@font-face {
	font-family: "Brandon_700";
	src: url("/fonts/Brandon_700.otf");
}
@font-face {
	font-family: "Brandon_700_I";
	src: url("/fonts/Brandon_700_I.otf");
}
@font-face {
	font-family: "Brandon_900";
	src: url("/fonts/Brandon_900.otf");
}
@font-face {
	font-family: "Brandon_900_I";
	src: url("/fonts/Brandon_900_I.otf");
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $NL-dark;
}

h1 {
	font: normal 56px/1.2 'Brandon_900', sans-serif;
}

h2 {
	font: normal 26px/1.2 'Brandon_700', sans-serif;
}

h3 {
	font: normal 20px/1.2 'Garamond_400', serif;
}

h4 {
	font: normal 18px/1.2 'Garamond_400', serif;
}

h5 {
	font: normal 18px/1.2 'Garamond_400', serif;
}

h6 {
	font: normal 16px/1.2 'Garamond_400', serif;
}

p {
	font: normal 16px/1.2 'Garamond_400', serif;
}

span {
	&.Button {
		font: normal 18px/1.2 'Brandon_600', sans-serif;
		font-weight: 700;
	}
}

.NL-Row {
	width: 100%;
}

.NL-Container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.NL-Center {
	text-align: center;
}

.NL-No-Txt-Dec {
  text-decoration: none;
}

@keyframes NL-Blink {
	0% {
		opacity: 0;
	}
	33%,
	66% {
		opacity: 1;
	}
	to {
		opacity: .6;
	}
}

@keyframes NL-Float-Up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes NL-Fade-In {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes NL-Scrolling {
	0% {
    transform: translateY(10px);
    opacity: 0;
	}
	40% {
			transform: translateY(10px);
			opacity: 1;
	}
	70% {
			opacity: 1;
	}
	100% {
			transform: translateY(0);
			opacity: 0;
	}
}