$NL-red: #f74f3f;
$NL-blue: #3c3cfc;
$NL-footer: #7c1a0d;
$NL-footer-hv: #962415;
$NL-white: #fff;
$NL-light: #f1f1f1;
$NL-grey: #4c4c4c;
$NL-grey2: #aaa;
$NL-black: #000;
$NL-dark: #111;

$monitor: 1500px;
$desktop-large: 1200px;
$desktop: 992px;
$tablet: 769px;
$mobile: 576px;
$mobile-small: 375px;

%NL-fade {
	transition: all .2s ease-in-out;
}

@mixin breakpoint($size) {
	@if $size==$mobile {
		@media (min-width: $mobile) {
			@content;
		}
	}
	@if $size==$tablet {
		@media (min-width: $tablet) {
			@content;
		}
	}
	@if $size==$desktop {
		@media (min-width: $desktop) {
			@content;
		}
	}
	@if $size==$desktop-large {
		@media (min-width: $desktop-large) {
			@content;
		}
	}
	@if $size==$monitor {
		@media (min-width: $monitor) {
			@content;
		}
	}
	@if $size==$mobile {
		@media (min-width: $mobile) {
			@content;
		}
	}
	@if $size==$tablet {
		@media (min-width: $tablet) {
			@content;
		}
	}
	@if $size==$mobile-small {
		@media (min-width: $mobile-small) {
			@content;
		}
	}
	@if $size==$mobile-small {
		@media (min-width: $mobile-small) {
			@content;
		}
	}
	@if $size==$desktop {
		@media (min-width: $desktop) {
			@content;
		}
	}
	@if $size==$desktop-large {
		@media (min-width: $desktop-large) {
			@content;
		}
	}
}